* {
    margin-left: 0px;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: antiquewhite;
}
#perfil {
    background-color: black;
    position: absolute;
    color: white;
    width: 250px;
    height: 100%;
    margin-left: 0px;
    top: 0px;
    position: fixed;
}
#perfil h2 {
    text-align: center;
}
#perfil ul li {
    list-style: none;
    text-align: center;
    padding: 5px;
}
#perfil ul {
    padding-inline-start: 0px;
}
#laboral, #educacion {
    margin-left: 275px;
    border-top: solid 2px black;
}

p {
    margin-left: 275px;
}
h1 {
    text-align: center;
    margin-left: 275px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}
img {
  border: solid 5px white;
  border-radius: 50%;
  margin: 60px;
  margin-top: 20px;
  margin-bottom: 0px;
}
h4, h6 {
    margin: 2px;
}

h2 {
    margin-bottom: 5px;
}
h6 {
    font-size: 12px;
}